<%- include('includes/header') %>

<link rel="stylesheet" href="/css/menu.css" />

<body>
  <div id="main_container">
    <div class="group_name">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/resto">Home</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/resto/products/menu">MyResto</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/resto/logout">Logout</a>
        </li>
      </ul>
    </div>

    <div class="restaurant_menu_frame">
      <div class="restaurant_container">
        <div class="dish_table">
          <span class="new_dish_txt">
            <%= member.mb_nick.toUpperCase()%> Products Menu
          </span>
          <div class="table_heigth">
            <table class="table table-bordered table-hover">
              <thead class="thead-light" style="text-align: center">
                <th scope="col">T/r</th>
                <th scope="col">Product name</th>
                <th scope="col">Product type</th>
                <th scope="col">Product size</th>
                <th scope="col">Orginal price</th>
                <th scope="col">Discount price</th>
                <th scope="col">Product left over</th>
                <th scope="col">Product status</th>
              </thead>

              <% market_data.map((value, key) => { %>
              <tbody style="background: white; text-align: center">
                <td><%= key +1 %></td>
                <td style="text-transform: capitalize">
                  <%= value.product_name %>
                </td>
                <td><%= value.product_collection %></td>
                <td>
                  <% if (value.product_collection === "drink") { %> <%=
                  value.product_volume %> liter <% } else if
                  (value.product_collection === "meat" ||
                  value.product_collection === "fresh") { %> <%=
                  value.product_weight %> kg <% } else if
                  (value.product_collection === "family" ||
                  value.product_collection === "readyToEat" ||
                  value.product_collection === "parfumerie" ||
                  value.product_collection === "texno" ) { %> <%=
                  value.product_family %> pc<% } else if (value.product_size ===
                  "1" || value.product_size === "2" || value.product_size ===
                  "3") { %> <%= value.product_size %> liter <% } else { %> <%=
                  value.product_size %> <% } %>
                </td>

                <td>₩ <%= value.product_price %></td>
                <td>₩ <%= value.product_discount %></td>
                <td><%= value.product_left_cnt %></td>
                <td>
                  <select
                    id="<%= value._id %>"
                    class="spec_select new_product_status"
                  >
                    <option value="PAUSED" <%= value.product_status === "PAUSED"
                    ? 'selected' : '' %> ><span class="option_paused"
                      >PAUSED</span
                    >
                    <option value="PROCESS" <%= value.product_status ===
                    "PROCESS" ? 'selected' : '' %> >PROCESS
                  </select>
                </td>
              </tbody>
              <% }); %>
            </table>
          </div>

          <div
            class="long_input"
            style="align-items: flex-end; margin-bottom: 25px"
          >
            <button class="btn btn-primary hiding_btn">Product Add</button>
          </div>
        </div>

        <form
          onsubmit="return validateForm()"
          action="/resto/products/create"
          method="POST"
          class="dish_container"
          enctype="multipart/form-data"
        >
          <div class="long_input" style="display: flex; align-items: center">
            <span class="new_dish_txt">New Product Add</span>
          </div>

          <div>
            <div class="long_input">
              <label for="">Product name</label>
              <input type="text" name="product_name" class="product_name" />
            </div>
            <input
              name="product_status"
              value="PAUSED"
              class="product_status"
              hidden
            />
          </div>

          <div class="half_input_frame">
            <div class="half_input">
              <label for=""
                >Original price
                <span class="exapmle_price">(ex: 10,000)</span></label
              >
              <input
                type="number"
                placeholder="price"
                name="product_price"
                class="product_price"
              />
            </div>
            <div class="half_input">
              <label for="product_discount"
                >Discount price <span class="exapmle_price">(ex: 4,500)</span
                ><span class="product_discount">*</span></label
              >
              <input
                type="number"
                placeholder="discount price"
                name="product_discount"
                class="product_discount"
              />
            </div>
            <div class="half_input">
              <label for="">Product left over</label>
              <input
                type="number"
                name="product_left_cnt"
                class="product_left_cnt"
              />
            </div>
          </div>

          <div class="half_input_frame">
            <div class="half_input">
              <label for="">Product type</label>
              <select name="product_collection" class="product_collection">
                <option value="food" selected>Food</option>
                <option value="meat">Meat</option>
                <option value="drink">Drink</option>
                <option value="fresh">Fresh</option>
                <option value="family">Family shop</option>
                <option value="readyToEat">Ready to eat</option>
                <option value="parfumerie">Beauty & Health</option>
                <option value="texno">Texno</option>
              </select>
            </div>

            <div class="half_input" id="product_size">
              <label for="">Product size</label>
              <select name="product_size" class="product_size">
                <option value="small">Small</option>
                <option value="normal" selected>Normal</option>
                <option value="large">Large</option>
                <option value="set">Set</option>
                <option value="1">1 liter</option>
                <option value="2">2 liter</option>
                <option value="3">3 liter</option>
                <option value="300gr">300gr</option>
                <option value="500gr">500gr</option>
              </select>
            </div>
            <div class="half_input" id="product_volume" style="display: none">
              <label for="">Drink size</label>
              <select name="product_volume" class="product_volume">
                <option value="0.5">0.5 litr</option>
                <option value="1" selected>1 liter</option>
                <option value="1.2">1.2 liter</option>
                <option value="1.5">1.5 liter</option>
                <option value="2">2 liter</option>
              </select>
            </div>
            <div class="half_input" id="product_weight" style="display: none">
              <label for="">Product weight</label>
              <select name="product_weight" class="product_weight">
                <option value="0.5">0.5 kg</option>
                <option value="1" selected>1 kg</option>
                <option value="2">2 kg</option>
              </select>
            </div>
            <div class="half_input" id="product_etc" style="display: none">
              <label for="">Product quantity</label>
              <select name="product_etc" class="product_etc">
                <option value="1" selected>1 pc</option>
                <option value="2">2 pc</option>
              </select>
            </div>
          </div>

          <div class="long_input">
            <label for="">Product info</label>
            <textarea name="product_description" class="product_description">
            </textarea>
          </div>

          <div class="img_frame">
            <label for="" style="font-size: 18px"
              >Product images (
              <span style="color: #ec7070"
                >Recommended image size is 640x640 px !!!
              </span>
              )</label
            >
            <div class="media-frame">
              <div class="upload_img_box">
                <img src="/images/upload.png" class="1" id="image_section_1" />
                <input
                  type="file"
                  name="product_images"
                  id="file"
                  class="image_one"
                  onchange="previewFileHandler(this, 1)"
                />
              </div>
              <div class="upload_img_box">
                <img src="/images/upload.png" class="2" id="image_section_2" />
                <input
                  type="file"
                  name="product_images"
                  id="file"
                  class="image_two"
                  onchange="previewFileHandler(this, 2)"
                />
              </div>
              <div class="upload_img_box">
                <img src="/images/upload.png" class="3" id="image_section_3" />
                <input
                  type="file"
                  name="product_images"
                  id="file"
                  class="image_three"
                  onchange="previewFileHandler(this, 3)"
                />
              </div>
              <div class="upload_img_box">
                <img src="/images/upload.png" class="4" id="image_section_4" />
                <input
                  type="file"
                  name="product_images"
                  id="file"
                  class="image_four"
                  onchange="previewFileHandler(this, 4)"
                />
              </div>
              <div class="upload_img_box">
                <img src="/images/upload.png" class="5" id="image_section_5" />
                <input
                  type="file"
                  name="product_images"
                  id="file"
                  class="image_five"
                  onchange="previewFileHandler(this, 5)"
                />
              </div>
              <input
                value="<%= member._id %>"
                name="market_id"
                class="market_id"
                hidden
              />
            </div>
          </div>

          <div
            class="long_input"
            style="align-items: flex-end; margin-bottom: 25px"
          >
            <button type="submit" class="btn btn-primary" id="create_product">
              Upload
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    $(function () {
      $(".product_collection").on("change", () => {
        const selectedValue = $(".product_collection").val();
        if (selectedValue === "meat" || selectedValue === "fresh") {
          $("#product_weight").show();
          $("#product_volume").hide();
          $("#product_size").hide();
          $("#product_etc").hide();
        } else if (selectedValue === "drink") {
          $("#product_volume").show();
          $("#product_weight").hide();
          $("#product_size").hide();
          $("#product_etc").hide();
        } else if (
          selectedValue === "family" ||
          selectedValue === "readyToEat" ||
          selectedValue === "parfumerie" ||
          selectedValue === "texno"
        ) {
          $("#product_etc").show();
          $("#product_size").hide();
          $("#product_volume").hide();
          $("#product_weight").hide();
        } else {
          $("#product_size").show();
          $("#product_volume").hide();
          $("#product_weight").hide();
          $("#product_etc").hide();
        }
      });

      // "taom qo'shish" tugmasi bosilganda ".dish_container" ochilish functionni ->
      $(".hiding_btn").on("click", () => {
        $(".dish_container").slideToggle(500);
        $(".hiding_btn").css("display", "none");
      });

      // product status changer
      $(".new_product_status").on("change", async function (e) {
        const id = e.target.id;
        // "PROCES" yoki "PAUSED" larni bosganda o'sha bosilganini qiymatini olib beradi ->
        const product_status = $(`#${id}.new_product_status`).val();

        try {
          const response = await axios.post(`/resto/products/edit/${id}`, {
            id: id,
            product_status: product_status,
          });
          const result = response.data;
          console.log("result", result);

          if (result.state == "success") {
            alert("success");
            location.reload();
          } else {
            alert(result.message);
          }
        } catch (err) {
          console.log("update Chosen Product err:", err);
        }
      });
    });

    // form validate
    function validateForm() {
      const market_mb_id = $(".market_mb_id").val(),
        product_name = $(".product_name").val(),
        product_price = $(".product_price").val(),
        product_left_cnt = $(".product_left_cnt").val(),
        product_collection = $(".product_price").val(),
        product_description = $(".product_description").val(),
        product_status = $(".product_price").val();

      if (
        market_mb_id == "" ||
        product_name == "" ||
        product_price == "" ||
        product_left_cnt == "" ||
        product_collection == "" ||
        product_description == "" ||
        product_status == ""
      ) {
        alert("Please enter all information!");
        return false;
      } else return true;
    }

    // img hendler
    function previewFileHandler(input, order) {
      const image_class_name = input.className;
      const file = $(`.${image_class_name}`).get(0).files[0],
        fileType = file["type"],
        validImageTypes = ["image/jpg", "image/jpeg", "image/png"];

      if (!validImageTypes.includes(fileType)) {
        alert("Please upload images in a licensed format! (jpg, jpeg, png)");
      } else {
        if (file) {
          let reader = new FileReader();
          reader.onload = function () {
            $(`#image_section_${order}`).attr("src", reader.result);
          };
          reader.readAsDataURL(file);
        }
      }
    }
  </script>
</body>
<%- include('includes/footer') %>
